body{
margin:0;
font-family:Arial;
background:#031324;
color:white;
text-align:center;
}

.buttons{
margin:30px;
}

button{
padding:10px 20px;
margin:10px;
border:none;
background:#0c0244;
color:white;
border-radius:8px;
cursor:pointer;
}

.viewer{
width:60%;
height:750px;
margin:auto;
background:white;
border-radius:30px;
}

iframe{
width:100%;
height:100%;
border:none;
}
